@import '../../styles/variables'; 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;
  box-shadow: $shadow-stronger;
    
  &__logo {
    color: $tertiary-color;
    font-size: 24px;
    font-weight: bold;
  }

  &__nav {
    a {
      margin: 0 15px;
      text-decoration: none;
      color: $second-text-color;
      transition: color 0.3s;

      &:hover {
        color: $tertiary-color;
      }
    }
  }
}